[2019-01-03 10:47] fullpower opened #1 "about box conv func"
In box_convolution_function.py, return input ** 2.
I cannot run the test correctly.
Is the current version executable? or box_convolution.cpp to be updated?

[2019-01-03 12:57] shrubb commented on #1
No, it's not ready yet, as clearly noted in the README. I'm going to finish very soon.

[2019-01-03 12:57] #1 closed, assigned to nobody

[2019-02-16 10:09] aidonchuk opened #2 "Build problem!"
Hi! Can't compile pls see log https://drive.google.com/open?id=1U_0axWSgQGsvvdMWv5FclS1hHHihqx9M

Command "/home/alex/anaconda3/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-req-build-n1eyvbz3/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-record-p0dv1roq/install

[2019-02-17 07:48] freesouls commented on #2
same error and almost the same log~ compiled under CUDA 9.0

[2019-02-17 08:04] freesouls commented on #2
I use python3.6 and python3.7 with pytorch1.0.0, both failed. And I compiled under CUDA 9.0 and CUDA 8.0(the error of CUDA 8.0 and 9.0 are different), did you use @shrubb CUDA 10.0?

My environment is Debian 8(jessie), python3.7/3.6, CUDA 9.0/8.0, cuDNN 6/7, gcc 4.9.2

[2019-02-17 09:53] shrubb commented on #2
Thanks for reporting!

@alexdonchuk Looks like you have CUDA 9 or 9.1. These versions contain an NVCC bug due to which GCC 6 is unsupported with PyTorch (see pytorch/pytorch#8832). Your best option seems to be to update to CUDA 9.2 or 10. Or use GCC 5, though I'm not 100% sure if this will help.

@freesouls might be the same problem, or too old GCC, or too old kernel version for this GCC. See [thi

[2019-02-17 10:24] aidonchuk commented on #2
Thx a lot. I'll try to upgrade.

[2019-02-17 16:24] aidonchuk commented on #2
Upgrade to cuda 10. Helps.

[2019-02-18 01:30] freesouls commented on #2
Upgrade to cuda 9.2 under gcc 4.9.2 also pass the test.  My full log of cuda 9.0 is the same as @alexdonchuk

[2019-02-18 05:34] GeorgeKaspar opened #3 "tensorflow version"
Hello!
Impressive code for an impressive paper!
Where can I find tensorflow bindings?
Or how can I create them?

[2019-02-18 06:44] shrubb commented on #2
:tada: :balloon:

[2019-02-18 06:59] aidonchuk opened #4 "Did you try you impl BoxConv on Unet(Resnet encoder)?"
subj
How to set max height, max width?
Single-process box gen takes too long.

[2019-02-18 07:59] shrubb commented on #4
I didn't, but ENet and ERFNet in our paper are very very similar. They are all typical encoder-decoders of residual blocks with max-poolings and upconvolutions. Anyway, I'll soon upload example model definitions I used in the experiments.

Set `max_input_h` and `max_input_w` to maximum height/width of that module's input tensors.

What is box gen? What exactly do you run?

[2019-02-18 08:28] shrubb commented on #3
Hi, thanks!
Sorry, no Tensorflow bindings at the moment. No idea how to create them. If someone wishes to start this effort, will be happy to give guidance.

By the way, before we start porting to other frameworks, I'm planning to optimize this code better and speed things up in the coming few weeks.

[2019-02-18 08:28] freesouls opened #5 "Multi-GPU Training: distributed error encountered"
I am using [https://github.com/facebookresearch/maskrcnn-benchmark](https://github.com/facebookresearch/maskrcnn-benchmark) for object detection, I want to use box convolutions, when I add a box convolution after some layer, training with 1 GPU is OK, while training with multiple GPUs in distributed mode failed, the error is very similar to this [issue](https://github.com/facebookresearch/maskrcnn

[2019-02-18 09:05] freesouls commented on #5
find another way to use box_convolution properly, close this issue!

[2019-02-18 09:05] #5 closed, assigned to nobody

[2019-02-19 08:00] aidonchuk commented on #4
320х320 WxH, box gen method is def reset_parameters(self) box_convolution_module.py

[2019-02-19 08:34] shrubb commented on #4
Right, it's currently not very fast, I will speed it up. Still, I don't expect that you will run `reset_parameters()` very often. Maybe just once before training.

[2019-02-19 11:17] aidonchuk commented on #4
It's work ok on small HxW with one layer. Pls try add it on UNET-like architecture. Thx for repo it's nice!

[2019-02-19 13:48] belskikh opened #6 "Error during forward pass"
[code]

[2019-02-19 14:37] shrubb commented on #6
Hi, thanks for reporting. I can't reproduce. Could you please give
* [MCVE](https://stackoverflow.com/help/mcve),
* your CUDA version,
* your GPU model?

[2019-02-19 21:04] tejaskhot opened #7 "Pretrained models"
Thanks for sharing the code!
Would it be possible to share the pretrained BoxOnlyENet models?

[2019-02-19 22:49] DanielhCarranza opened #8 "Error in Test MNIST"
I try to run the code test-mnist.py but I got the following error. I runing the code in colab. It would be great if you make a colab notebook with an example 😄

[code]

[2019-02-20 06:59] shrubb commented on #7
In progress, will do, stay tuned. Cheers!

[2019-02-20 07:03] shrubb commented on #8
Thank you for the issue. It's weird that the parameters aren't picked up... I'll debug this.

[2019-02-20 11:16] belskikh commented on #6
I need some time to prepare a gist with all the pipeline I use.
I tried to replace all `nn.Conv2d` to `BoxConv2d` in simple LinkNet-resnet18 model.

I used `BoxConv2d` wrong, and now I am trying to use it only in the Final one:

[code]
And I have the following error:
[code]

My Cuda version:
[code]

My GPU model : `GTX 1080 8Gb`

[2019-02-20 12:12] belskikh commented on #6
I tried to use `x = x.contiguous()`, but it didn't help =) Should I change something in loss calculating?
I use `nn.BCEWithLogitsLoss` criterion.

[2019-02-20 20:00] shrubb commented on #6
Rolled out a temporary fix, should be working now.

[2019-02-21 06:54] the-butterfly opened #9 "Import Error"
Success build with ubuntu 16.04, cuda 10 and gcc 7.4.
But import error encountered:

[code]
---------------------------------------------------------------------------
[code]
@shrubb

[2019-02-21 08:06] shrubb commented on #9
Oh, Anaconda often doesn't make life easier :(

Most likely, you have two different CUDA toolkits (maybe one in Anaconda and one system-wide) and your PyTorch is using one version while `setup.py` picks up another.

Check your PyTorch's CUDA version via `torch.version.cuda`. Then, before build, set `CUDA_HOME` environment variable to the location of that toolkit. Example:

[code]

By the way, if y

[2019-02-21 08:31] belskikh commented on #6
Thanks! It's working

[2019-02-21 08:31] #6 closed, assigned to nobody

[2019-02-21 09:52] the-butterfly commented on #9
Thanks for your meticulous reply!
I have just re-install pytorch 1.0.1 with cuda 10, and make install again, everything works fine.

[2019-02-21 09:52] #9 closed, assigned to nobody

[2019-02-21 12:12] hsakas opened #10 "CPU support ?"
Thanks for the code,

I opened an issue for the following reason.
1) Fails to install in CPU only environment, here is the complete traceback:

I just want to check the input-output with very low dimension tensors and check the working of the model. Is it possible to get a CPU support for this?

(Torch) C:\Users\as\Documents\Workspace\Experiments\BoxCon\box-convolutions>python -m pip install .
Pro

[2019-02-21 14:43] shrubb commented on #10
You seem have an old version of PyTorch with this bug: pytorch/pytorch#11137. I've also updated my repository to support CPU-only platforms. So, please update both and let me know if that worked.

[2019-02-22 15:28] jiaozizhao opened #11 "how box convolution works"
Hi,

It is a nice work.
 In the first figure on your poster, you compared the 3x3 convolution layer and your box convolution layer. I am not clear how the box convolution works. Is it right that for each position (p,q) on the image, you use a box filter which has a relative position x, y to (p,q) and size w,h to calculate the value for (p,q) on the output? You learn the 4 parameters x, y, w, h for

[2019-02-22 15:30] jiaozizhao opened #12 "Code for paper"
Hi,

May I know when you will release the codes used in your paper? I mean the example code for semantic segmentation. I am looking forward to trying it.

[2019-02-22 15:50] jiaozizhao commented on #5
Hi,
@freesouls  How did you fix the problem? Thanks.

[2019-02-22 15:51] jiaozizhao commented on #5
And did you get good performance by using box convolution layer for object detection?

[2019-02-22 16:35] shrubb commented on #12
Hi, in progress, stay tuned. The models' definitions should be out in a couple of days.

[2019-02-22 16:50] shrubb commented on #11
Thanks!
Yes, your explanation is perfectly correct. Output value at a pixel is sum or average of input channel's pixels over a rectangle that is parametrized relative to that position by four learned parameters.

[2019-02-22 16:54] jiaozizhao commented on #11
Cool! Thanks very much.

[2019-02-22 17:05] jiaozizhao commented on #11
In the paper Forward Pass, you said an input with N maps applied M box filters will result NxM output maps, and the layer has 4xNxM parameters. I don't understand why it 4xNxM parameters, not 4xM parameters for the M box filters? You mean for different map of the input, the same box filter will have different 4 parameters? I am a little confused. Could you explain to me, please? Thanks very much.

[2019-02-23 06:56] freesouls commented on #5
@jiaozizhao nothing special, just add box convolution as a normal layer. And I get no improvement, the loss gets larger and larger, after try several times, I finally give up by using box convs.

[2019-02-23 08:35] shrubb commented on #11
An individual bank of M box filters is assigned to each of the N input channels. Thus the first input channel is convolved M times to obtain first M output channels, the second channel is responsible for second M output channels, and so on.
I suggest reading about depthwise convolutions in CNNs. Our layer is exactly a depthwise convolution with special kernels.

[2019-02-23 14:18] dontLoveBugs commented on #2
I use python3.5 with pytorch 1.0.1, and I compiled under cuda9.2 using gcc 5.4.0. I have the same errors and logs, why?

[2019-02-23 17:06] shrubb commented on #2
@dontLoveBugs Do you use Anaconda and/or have multiple CUDA versions installed? If yes, use `CUDA_HOME` to point the installer to your CUDA that's used by PyTorch:

[code]

Also, see #9.

[2019-02-23 20:21] dontLoveBugs commented on #2
@shrubb Thx. When I used the configuration(Ubuntu 16.04, pytorch 1.0.0, cuda 9.2 and gcc 7.4) , I complied it and built it successfully. However, I tested the example code and I get the ModuleNotFoundError. I don't know why.
![image](https://user-images.githubusercontent.com/17598076/53291250-5d14d780-37eb-11e9-8800-8ae7645895d7.png)
![image](https://user-images.githubusercontent.com/17598076/5329

[2019-02-23 20:53] shrubb commented on #2
@dontLoveBugs It's too difficult to reason without full commands and logs. All I can say is that you may be accidentally using a different Python or have library paths messed up. Usually one safe way is to use a virtual Python environment

[2019-02-24 10:15] dontLoveBugs commented on #2
@shrubb I took your advice and compiled it again. But I still had the ModuleNotFoundError. I checked the site-packages and finded it only had one file and folder related to box_conv(box_convolution_cpp_cuda.cpython-36m-x86_64-linux-gnu.so、box_convolution-0.0.0.dist-info) and don't have the lib folder(I think it should be named as "box_convolution"). Why?
![image](https://user-images.githubusercont

[2019-02-24 10:35] shrubb commented on #2
@dontLoveBugs Wow. Indeed, I made a very stupid mistake: the setup script didn't copy Python files. Glad you pointed it out. Better late than never :)
Please do a `git pull origin master` and tell me if that worked.

[2019-02-24 11:03] dontLoveBugs commented on #2
Thanks， I understand.

[2019-02-24 21:08] shrubb commented on #12
@jiaozizhao For model definitions, see [BoxENet](https://github.com/shrubb/box-convolutions/blob/master/examples/ENet.py) for example

[2019-02-24 21:10] shrubb commented on #4
Here's an example of application: [ENet](https://github.com/shrubb/box-convolutions/blob/master/examples/Cityscapes/models/ENet.py). As far as I know, it's UNet-like, except skip connections.

[2019-02-24 21:33] aidonchuk commented on #4
Thx a lot. I'll try it.

[2019-02-25 06:39] hsakas commented on #10
thanks, will confirm it.

[2019-02-25 08:49] Flock1 commented on #2
Hey guys,

I'm also facing problems with the installation. Here's a part of the error I'm getting:

[code]

I am using python 3.6, anaconda, pytorch 1.0.1.post2, CUDA 9.2, GCC 5.4

[2019-02-25 09:32] jiaozizhao commented on #12
Thanks very much. I will try it.

[2019-02-25 10:27] shrubb commented on #2
@Flock1 Reproduced this with GCC 5.5.0 too. Thanks for reporting. Nice, we've found a bug in GCC 5.

While I'll try to push a workaround, you can try other compiler. For example. if you have `g++-7`, run

[code]

[2019-02-25 11:11] Flock1 commented on #2
Same error:
[code]

[2019-02-25 11:34] shrubb commented on #2
@Flock1 Can you post the full log at e.g. https://gist.github.com/ or https://pastebin.com/ ? Can be obtained with

[code]

[2019-02-25 12:11] Flock1 commented on #2
@shrubb, will do that

[2019-02-25 12:16] Flock1 commented on #2
https://gist.github.com/Flock1/d03a6d2814099379780cfd7ff9b07ab3

[2019-02-25 12:28] shrubb commented on #2
@Flock1 That's very weird. I can't believe there is just "error" with absolutely no hint for the source of error. What if you run it again but with `-v -v -v` arguments after `pip`?

[2019-02-25 14:03] Flock1 commented on #2
@shrubb, I'll send the result soon

[2019-02-25 19:04] shrubb commented on #8
@DanielhCarranza Copied `mnist.py` (except video logging) to colab. Found no problem, worked well:
https://colab.research.google.com/drive/10zPDFfZbLJtXd2QrDlP3Z8uO2Ki6JhA3

[2019-02-26 04:44] Flock1 commented on #2
@shrubb
https://gist.github.com/Flock1/8c82d180e1e9fd9c01c1cefbb9742d21

[2019-02-26 05:42] Flock1 commented on #2
@shrubb, this is what I get when I try to import:
[code]

[2019-02-26 11:41] shrubb commented on #2
@Flock1 Clearly, it didn't work because you actually don't have g++-7 installed. See for example [this](https://www.cyberciti.biz/faq/linux-how-to-check-what-compiler-is-running-installed/) to check what other compilers you have in your system, and [this](https://anaconda.org/creditx/gcc-7) if you use Anaconda.

[2019-02-26 11:52] Flock1 commented on #2
@shrubb, so I should try with GCC 7?

[2019-02-26 12:15] Flock1 commented on #2
@shrubb, here's the log with g++ 7
https://gist.github.com/Flock1/752cd000570deb48d75c8544f4aa4257

[2019-02-26 12:42] shrubb commented on #2
@Flock1 Apparently, CUDA compiler didn't pick up g++-7. Just pushed a fix for that. Could you please try the latest version, i.e. `python3 -m pip install git+https://github.com/shrubb/box-convolutions.git` ?

[2019-02-26 13:24] Flock1 commented on #2
@shrubb, will do. Give me some time.

[2019-02-26 13:24] dontLoveBugs opened #13 "About the speed of box convolution"
In the paper, you replace every second block in ENet with your proposed box conv block. But I find if not using cuda, box block have almost the same speed with the original block, but if using cuda, the box block is much slower than the original block. Is that right? And why?
The ENet original block is from [PyTorch-ENet](https://github.com/davidtvs/PyTorch-ENet). I define your proposed block is a

[2019-02-26 15:21] shrubb commented on #13
Let me explicate:

* Your benchmarking script is wrong. When you time CUDA code, you should
  * "warm up" to pre-initialize context,
  * synchronize the GPU before and after (because CUDA kernels are asynchronous),
  * preferably do the operation multiple times.
* [Here](https://github.com/shrubb/box-convolutions/blob/master/examples/convnet-runtime-benchmark.py) is the (translated) script used in

[2019-02-26 15:30] dontLoveBugs commented on #13
Thanks

[2019-02-27 04:27] Flock1 commented on #2
@shrubb , https://gist.github.com/Flock1/c852da5839091eb3f621a54d17c1de72

[2019-02-27 06:30] shrubb commented on #2
@Flock1 you forgot to prepend `CC=g++-7`

[2019-02-27 07:24] Flock1 commented on #2
@shrubb, the package is downloaded. Thanks.

Now, when I tried importing it, I got the following error:
`ImportError: /home/sarvagya/anaconda3/envs/tf/lib/python3.6/site-packages/box_convolution_cpp_cuda.cpython-36m-x86_64-linux-gnu.so: undefined symbol: __cudaPopCallConfiguration`

The full error is:
[code]

[2019-02-27 07:56] shrubb commented on #2
This was solved in #9, see solution there. This is likely because you're using Anaconda which messes paths up.

[2019-02-27 08:07] Flock1 commented on #2
@shrubb, so is there some way I can use box-convolution through conda environment?

[2019-02-27 08:20] shrubb commented on #2
Yes, please read #9, someone else also had your setup and they succeeded, I posted a solution there, should help.

[2019-02-27 08:36] Flock1 commented on #2
@shrubb, so the problem I'm facing is that my machine has CUDA 9.2 but torch installs 9.0 with it. Apparently, the CUDA installed by torch isn't very compatible with box_convolution. Or probably that's what's happening. I have attached the log. Let me know what you think.

https://gist.github.com/Flock1/0d12d133157eb326146736dfa5f1c3e0

[2019-02-27 09:02] Flock1 commented on #9
@the-butterfly, can you tell me if you installed pytorch from source or by using pip? Is your system's CUDA version different from the one installed with torch?

[2019-02-27 09:14] shrubb commented on #2
@Flock1 PyTorch doesn't install CUDA for you -- you had two CUDAs before. One of them is probably from Anaconda.

What does this command output?
[code]

[2019-02-27 09:18] Flock1 commented on #2
[code]
Also, this is the output for `nvcc --version`:
[code]

[2019-02-27 10:13] shrubb commented on #2
Hmmm. So your PyTorch is still pre-built with not-fully-compatible CUDA 9.0.
Then, your options may be:
* Upgrade CUDA to 10.0 and reinstall PyTorch with `conda install pytorch torchvision cudatoolkit=10.0 -c pytorch`,
* Reinstall PyTorch but **from source** so that it links to your CUDA 9.2,
* Downgrade CUDA to 9.0.

[2019-02-27 10:26] the-butterfly commented on #9
I think system's CUDA version **should match** with torch.
And my pytorch is installed by pip.

[2019-02-27 11:02] Flock1 commented on #2
I have downgraded to CUDA 9.0 which is the same as pytorch. I ran the command above to install and the following:
https://gist.github.com/Flock1/d12454e46d8db875a5c8adc7c7495d1e

[2019-02-27 11:15] Flock1 commented on #9
Okay, thanks

[2019-02-27 12:17] shrubb commented on #2
Aaargh, these compatibilities are annoying... Sorry for them.

Then for now the downgrading option is out. I'll still try to modify the code to work around the GCC 5 bug.

[2019-02-27 17:05] Flock1 commented on #2
Haha :P, I can understand bro. I'll try other options as well. Let me know when you're done with updates.

[2019-02-28 05:38] Flock1 commented on #2
@shrubb, I installed CUDA 10 and then it was downloaded. So apparently, box convolution won't work well with CUDA 9

[2019-03-01 12:18] #13 closed, assigned to nobody

[2019-03-03 16:00] illestom commented on #2
Hi,
I try to install this on windows 10 with anaconda and CUDA 10. I installed Windows 10 SDK (10.0.17763.0) couse pytorch require c++ compiler, but the installation always ended with error of cl.exe with error code 2. Is there anybody with windows experience who can help me? I read threads about this but nothing usefull :S

[2019-03-03 19:14] shrubb commented on #2
@illestom Could you post the full output of `python3 -m pip install -v -v -v git+https://github.com/shrubb/box-convolutions.git`?

[2019-03-04 17:40] illestom commented on #2
@shrubb  It's very long error message so i copypate the end of it.. i give the whole if needed
`........
data
    src\box_convolution_interface.cpp(367): error C2146: syntax error: missing ';' before identifier 'or'
    src\box_convolution_interface.cpp(367): error C2065: 'or': undeclared identifier
    src\box_convolution_interface.cpp(367): error C2146: syntax error: missing ';' before identifie

[2019-03-04 18:55] shrubb commented on #2
@illestom Hm, yes, the important parts are missing there. I'd be happy if you provided the full output.

May I ask you to run

[code]

and then upload the `log.txt` file to either http://gist.github.com or http://pastebin.com?

[2019-03-04 19:07] illestom commented on #2
@shrubb [https://drive.google.com/file/d/1DhfiBlqoocepKcbeLJRfzqN9Cqe16Kir/view?usp=sharing](url) the log.txt

[2019-03-04 20:39] shrubb commented on #2
@illestom Just pushed a fix, did it help?

[2019-03-04 23:40] illestom commented on #2
@shrubb the previous problem is gone, but now there is some CUDA problem, i guess :S
[https://drive.google.com/file/d/1c1N_dnK3huI9MnX0G2v7T5-U1gT7J9v8/view?usp=sharing](url)

[2019-03-05 03:59] kennyseb opened #14 "Supplemental zip for the paper"
Hi,
The NIPS archive for the paper gives a 404 for the supplemental material link. [supplemental](https://papers.nips.cc/paper/7859-deep-neural-networks-with-box-convolutions-supplemental.zip)

Can you please provide the zip?

[2019-03-05 12:26] shrubb commented on #2
@illestom Not yet -- the CUDA problems are yet to come, hold on :smile:
Have you completed all of the "On Windows" instructions in [this section](https://github.com/pytorch/pytorch#install-pytorch), I mean all the necessary patches/updates etc.?
If yes, then this is likely to be pytorch/pytorch#15630 pytorch/pytorch#11203 bug. Then your options are to
* upgrade to CUDA 10.1,
* or open `C:\Users\Ta

[2019-03-05 12:36] shrubb commented on #14
@kennyseb
Hi,
there was no supplemental material apart from the appendix which is in the paper file.

[2019-03-05 12:36] #14 closed, assigned to nobody

[2019-03-10 12:36] shrubb commented on #2
GCC 5 build problems should have gone now.

[2019-03-11 01:43] Carrotor116 commented on #2
Hi,
I try to install it while some error appeared.
The environment is `14.04.1-Ubuntu`,  `CUDA V8.0.44`, `cudnn 6.0`,  `python 3.6.8` and `torch 1.0.0`
the build log is follow:
[code]
I also try with `torch 1.0.1.post2` while meet same error. Please help

[2019-03-11 05:02] Flock1 commented on #2
@Carrotor116, I don't know about Ubuntu 14, but I do know that you need CUDA 10 to run. I had to update my CUDA from 9.2

[2019-03-11 06:42] shrubb commented on #2
@Carrotor116 This is a bug in CUDA 8 or PyTorch, discussed here: pytorch/pytorch#16257.

Two possible solutions:

* Upgrade CUDA to 9.2 or 10 (I suggest this option if possible), or
* Open `/home/nls3/nonu/tmp/.venv/lib/python3.6/site-packages/torch/lib/include/torch/csrc/jit/argument_spec.h`, go to line 59 and comment (put `//` before) these lines:

[code]

[2019-03-11 11:45] Carrotor116 commented on #2
Thx the reply of @Flock1 and @shrubb.
For some reasons, I can't change the version of CUDA, so I modify the `argument_spec.h` file and comment those lines. Then I build it successfully. The cmd `python3 -m box_convolution.test` also works well.

[2019-03-12 11:15] Flock1 commented on #2
@Carrotor116, well, that's great then.

[2019-03-17 00:28] kennyseb opened #15 "Compared to STN"
How is box convolutions different than Spatial Transformer networks? Isn't that also a way of generating boxes of interest?

[2019-03-17 14:47] shrubb commented on #15
Honestly, I can't see how STNs are "a way of generating boxes of interest". It's just a plane transformation.
To my view, that idea isn't even close. For one, spatial transformer isn't a convolution.

The closest idea that you could probably somehow compare box convolutions to is maybe [ROI warping](https://arxiv.org/abs/1512.04412)...but our approach is still distant.

[2019-03-18 10:00] Flock1 opened #16 "YOLO architecture"
Hi,

I want to know if there's some way I can create an architecture that'll work with YOLO. I've read a lot of implementations with pytorch but I don't know how should I modify the `cfg` file so that I can add `box convolution` layer.

Let me know.

[2019-03-18 17:32] shrubb commented on #16
Hi, I personally have absolutely no clue what is YOLO. Maybe someone else experienced in object detection will join comments.

[2019-03-20 04:55] Flock1 commented on #16
Okay, thanks.

[2019-03-20 06:13] #16 closed, assigned to nobody

[2019-03-20 06:28] Flock1 commented on #16
@shrubb, just so I got this right, your box convolution layer is a sublayer for the convolution layer?

Also, how do the parameters within the box convolution layer help with improving the computation efficiency? Can you give me a small summary there?

[2019-03-20 07:27] shrubb commented on #16
I'm not sure what you mean by "sublayer for another layer". Box convolution is a separate standalone layer, you use it wherever it feels right, no restrictions really. It's just a different operation with its own usage cases. However, I often say that our layer IS a convolution (which is true) because then it's easier to explain the concept.

As usually happens in neural nets, the number of parame

[2019-03-20 09:19] Flock1 commented on #16
@shrubb I was referring to `x = self.conv1_1x1(self.conv1(x))` in the mnist code that was given. So I am guessing that the convolution layer is required to use the box convolution.

[2019-03-20 10:58] shrubb commented on #16
Well, this isn't an absolute requirement. For example, instead of using 1x1 convolution, you could just somehow reduce all channels, i.e. take average/sum/product. I recommend 1x1 convolutions simply because box convolution only operates depthwise (channel by channel), while I usually want information to be spread across channels. "Depthwise separable convolutions" advocate this idea too, for same

[2019-03-21 05:38] Flock1 commented on #16
Hmm. Okay. Just one more question. How does this convolution as well as box kernel operations (both of them at the same time) help reduce the processign time?

[2019-03-21 12:11] shrubb commented on #16
Several factors here:

1. Most processing time in CNNs is spent on spatial operations. Box convolution itself involves less operations than most other common parametric methods of aggregating features over spatial regions, e.g. 3x3 convolution and even depthwise 3x3 convolution).
2. 1x1 convolution, which is often coupled with `BoxConv2d`, is computationally very cheap.
3. 3x3 convolutions only fu

[2019-03-22 11:36] tom23141 opened #17 "Build Problem Windows 10 CUDA10.1 Python Bindings?"
Hi,
I'm trying to compile the box-convolutions using Windows 10 with CUDA 10.1.
This results in the following error:

[code]
Any ideas? Thanks in advance

[2019-03-22 15:46] kennyseb commented on #15
Thanks for the clarification, Egor.

[2019-03-22 15:46] #15 closed, assigned to nobody

[2019-03-22 15:52] kennyseb opened #18 "Speed and Efficiency of Depthwise separable operation?"
As far as modern libraries are concerned, there is not much support for depth-wise separable operations, i.e. we cannot write custom operations that can be done depthwise. Only convolutions are supported.

How did you apply M box convolutions to each of the N input filters, to generate NM output filters?
How is the different than using a for loop over the N input filters, applying M box convs on e

[2019-03-23 15:01] shrubb commented on #18
Sorry, couldn't really understand your point and question. "Only convolutions are supported" is wrong: there are countless depthwise operations, for example
* all elementwise operations,
* max pooling, average pooling,
* `nn.Conv2d(n, m, k, groups=n)`,
* batch normalization etc.
which means we of course *can* create other depthwise operations, and it is standard to do so. :)

Not sure what you mea

[2019-03-24 17:38] shrubb commented on #17
Might be a PyTorch bug, someone has already reported it at pytorch/pytorch#11004. I wrote a follow-up there, let's see what they'll say about the status of this problem.

[2019-03-25 08:47] shrubb commented on #17
Apparently, the problem is in the pybind library. Maybe properly modifying `pybind11\cast.h` can solve it.

[2019-03-25 09:38] Flock1 commented on #16
Hmm, Okay. Let me see if, in some way, I can implement your idea in to YOLO and probably improve the time taken. Thanks

[2019-03-27 23:54] kennyseb commented on #18
Thanks, this makes it clear.
One more question, consider the input layer to the BoxConv Layer is of dimension NxRxC, where n=num of channels, r & c = spatial dimensions.

How do you regress the variables corresponding to each box?
Did you use a localisation network like in a STN, e.g. [here](https://pytorch.org/tutorials/intermediate/spatial_transformer_tutorial.html) which takes all the NxRxC neu

[2019-03-28 06:07] Flock1 opened #19 "Implementation in VGG"
Hey,

I am trying to implement box convolution for HED (Holistically-Nested Edge Detection) which uses VGG architecture. Here's the architecture with box convolution layer:
[code]
I get the following error:
`RuntimeError: BoxConv2d: all parameters must have as many rows as there are input channels (box_convolution_forward at src/box_convolution_interface.cpp:30)`

Can you help me with this?

[2019-03-28 08:20] shrubb commented on #18
We don't regress them. They are `BoxConv2d`'s 's parameters (like `nn.Linear.weight` or `nn.Conv2d.weight`), which are initialized randomly, stored in the module and learned via gradient descent.

The module's architecture is the main point of our work, so it is actually described thoroughly in the paper and is implemented in this repository (so you can read the code to learn what's going on).

[2019-03-28 09:47] shrubb commented on #19
You are using wrong values to initialize `BoxConv2d`. I've documented the constructor, please run `help(BoxConv2d)` to see docstrings.

[2019-03-28 09:48] #10 closed, assigned to nobody

[2019-03-28 09:49] #4 closed, assigned to nobody

[2019-03-28 09:49] #8 closed, assigned to nobody

[2019-03-28 09:49] #11 closed, assigned to nobody

[2019-03-28 09:50] #12 closed, assigned to nobody

[2019-03-28 16:26] kennyseb commented on #18
I see, does that mean that the box parameters (x, y, w, h) are learned throughout the training, and remain constant while testing? i.e., the generated boxes are same for all the images, is that right?

[2019-03-28 17:03] shrubb commented on #18
Exactly.

[2019-03-29 04:39] Flock1 commented on #19
Hi,

Here's what it says:
[code]
As you can see above, the `box convolution` layer has the same number of channels as convolution layer, the batch size is one (as in the mnist code). I've tried different values for `w` and `h` but I get the same error.

What do you suggest?

[2019-03-29 06:57] shrubb commented on #19
You seem to be confusing batch size, number of input channels and number of output channels.

I urge you to read carefully the rest of `help(BoxConv2d)`. It describes all constructor parameters. `in_planes` and `num_filters` are strictly defined there.

[2019-03-29 08:41] Flock1 commented on #19
Hi,

it seems to have started working when I set the following parameters:
[code]
According to the constructor, the following are the arguments:
[code]
According to the architecture, the `Conv2D` input channel is 3 and output channel is 64. So is this why the input channel to box concolution layer is 64? Since we have added this to the `nn.Sequential`, so the output of the `Conv2D` will go into `B

[2019-03-29 09:01] Flock1 commented on #19
Here's one more thing I've tried:
[code]
I get the following:
`RuntimeError: Given groups=1, weight of size [64, 3, 3, 3], expected input[1, 192, 252, 105] to have 3 channels, but got 192 channels instead`

[2019-03-29 09:05] shrubb commented on #19
Maybe you mistakenly switched order and actually meant to do this : `conv1 = self.conv_B(self.conv1(x))`

[2019-03-29 10:56] Flock1 commented on #19
I tried that as well. I'm getting the same parameters error

[2019-03-29 12:07] shrubb commented on #19
Sorry, the number of channels is really trivial to balance. You only have to

* be conscious about the sizes of input/output tensors at **each** of your layers,
* carefully read the documentation.

`in_planes` same as in `Conv2d`, `num_filters` is how many times the number of channels will grow.

[2019-03-29 18:56] Flock1 commented on #19
Thanks. Also, am I unbderstanding the functioning properly here?

[2019-03-30 14:31] shrubb commented on #19
If you mean this, then yes, it's correct:

[2019-04-06 12:05] #18 closed, assigned to nobody

[2019-05-08 03:10] ZiTian8 commented on #17
@shrubb
Hi,
I'm trying to compile the box-convolutions using Windows 10 with CUDA 10.0.
This results in the following error:

error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\x86_amd64\\cl.exe' failed with exit status 2

    ----------------------------------------
Command "C:\Users\haha\AppData\Local\Programs\Python\Python36\python.exe -u -c "import setuptools, toke

[2019-05-08 05:56] shrubb commented on #17
@ZiTian8
Hi, there's really no information in your log, can you run something like `python3 -m pip install . -vvv --log log.txt` and put the detailed log here?

[2019-05-09 01:29] ZiTian8 commented on #17
i have posted the full log at https://gist.github.com/ZiTian8/810343d4e10971a48330af67f50a52dc
thanks!

[2019-05-09 01:29] ZiTian8 commented on #17
@shrubb
i have posted the full log at https://gist.github.com/ZiTian8/810343d4e10971a48330af67f50a52dc
thanks!

[2019-05-09 05:22] shrubb commented on #17
@ZiTian8
This is a PyTorch bug, updating PyTorch should fix the problem, other solution is discussed [here](https://discuss.pytorch.org/t/compiler-report-std-ambiguous-symbol-error-under-visual-c-2017/39459).

[2019-05-11 06:08] dkang9503 opened #20 "Cityscapes dataset?"
Hello,

I was wondering where I could download the Cityscapes dataset to run the example with? Thanks

[2019-05-11 10:05] shrubb commented on #20
https://www.cityscapes-dataset.com

[2019-05-12 19:50] bakirillov opened #21 "Doesn't import"
Hello!

After installing with g++-6, fails to import with the following:

      1 import torch
      2
----> 3 import box_convolution_cpp_cuda as cpp_cuda
      4
      5 def reparametrize(

ImportError: /home/bakirillov/anaconda3/envs/lapki/lib/python3.7/site-packages/box_convolution_cpp_cuda.cpython-37m-x86_64-linux-gnu.so: undefined symbol: _ZN3c105ErrorC1ENS_14SourceLocationERKSs

Could you pl

[2019-05-12 20:05] shrubb commented on #21
Anaconda messes paths up. If you use it, be sure to know what you are doing. Particularly here, you have compiled against wrong PyTorch.

Follow the solution at facebookresearch/maskrcnn-benchmark#1

[2019-05-16 03:12] dkang9503 opened #22 "Getting a cuda runtime error (9) : invalid configuration argument at src/box_convolution_cuda_forward.ci:250"
Hello,

I've been trying to implement your box convolution layer on a ResNet model by just substituting your BottleneckBoxConv layers for a typical ResNet Bottleneck layer.

I was getting this error

[code]
Thanks so much!

[2019-05-16 07:26] shrubb commented on #22
Can you give a minimal script to reproduce? What are that layer's configuration, its input tensor size? What are your GPU, CUDA version?

[2019-05-26 23:59] dkang9503 commented on #22
Sorry for the late response

We are trying to recreate resnet with box convolutions instead of the 3x3 Conv2d layers

This code throws an error for me

[code]

We are trying to use this for Tiny ImageNet, but for this example here, we use CIFAR10 with input dimensions 256 x 3 x 32 x 32.

I've found that the code runs if we replace the number of boxes from 4 to 3, but then if we add another BoxConv

[2019-05-27 00:59] dkang9503 commented on #22
I think I've figured out why it crashes?

It seems as if there's more than 255 boxes, the function always throws this error. Is there a possible workaround for this? Or is it because there's no reason to have that many boxes

[2019-05-27 06:15] shrubb commented on #22
This is a known problem, the total number of output pixels is limited to 2^31-1. Let me fix this in the next few days.
In your case, a temporary workaround can be using a smaller batch.

Your second example, however, is more intricate. I'm not sure why it crashes. I'll look deeper into it.

[2019-05-27 06:16] #21 closed, assigned to nobody

[2019-06-06 14:12] shrubb commented on #22
OK, I found out that the total number of channels (batch size * in_channels * out_channels) was limited to 65535. Now fixed.

[2019-06-06 14:12] #22 closed, assigned to nobody

[2019-06-10 20:09] skrish13 commented on #2
16.04, CUDA 9.2, Python 3.5, Torch 1.0.0 works fine, no issues.

[2019-07-24 17:25] vtereshkov opened #23 "Test script failed"
Test script assertion failed:

Random seed is 1546545757
Testing for device 'cpu'
Running test_integral_image()...
100%|| 50/50 [00:00<00:00, 1491.15it/s]
OK
Running test_box_convolution_module()...
  0%|
python3: /pytorch/third_party/ideep/mkl-dnn/src/cpu/jit_avx2_conv_kernel_f32.cpp:567: static mkldnn::impl::status_t mkldnn::impl::cpu::jit_avx2_conv_fwd_kernel_f32::init_conf(mkldnn::impl::cpu::j

[2019-07-24 17:31] #20 closed, assigned to nobody

[2019-07-24 17:32] #19 closed, assigned to nobody

[2019-07-24 17:45] shrubb commented on #23
This is a PyTorch / MKL-DNN bug: pytorch/pytorch#20583. I suggest that you follow that link and try running the reproducing script from there. If it fails too, try installing a nightly PyTorch build. If that in turn doesn't help, report to PyTorch team via that issue.

[2019-07-24 18:17] vtereshkov commented on #23
I've reproduced the PyTorch bug. Now looking for a Python 3 version of the nightly build.

[2019-07-24 21:49] vtereshkov commented on #23
The nightly build still has this problem. Downgraded to PyTorch 1.0.0 by running

pip3 uninstall torch
pip3 uninstall torchvision
pip3 install https://download.pytorch.org/whl/cu90/torch-1.0.0-cp35-cp35m-linux_x86_64.whl
pip3 install --no-deps torchvision==0.2.1

Now the test is passed.

[2019-07-25 06:37] shrubb commented on #23
Glad it worked. Thanks for investigating.

Now I understand that the test fails because in it I use `nn.Conv2d` with unusual parameters that induce a bug in MKL-DNN. So, despite the test failing, I think you can still safely use `box-convolutions` on PyTorch 1.1.0.

[2019-07-29 11:03] mikhailkonyk opened #24 "How can I run Cityscapes example on a test set?"
Hello, collegues! I've trained BoxERFNet, and now I wanna run this model on a test set to evaluate it.
I checked the source code(train.py) and established 'test' in place of 'test' in 80th string. But there was falure, the evaluated metrics were incorrect(e.g. 0.0 and 0.0). Can you explain me, what I need to do to evaluate model on a test set?
I guess that problem is on 'validate' function(241th s

[2019-07-29 15:48] shrubb commented on #24
There is no ground truth data for the test set. You can only view your test score by signing up to Cityscapes' website and uploading your predictions there.

[2019-07-29 15:48] #23 closed, assigned to nobody

[2019-07-29 15:48] #17 closed, assigned to nobody

[2019-08-05 22:29] mikhailkonyk commented on #24
i.e. there is no ability to run model on test set?(on your example code)

[2019-08-06 09:30] shrubb commented on #24
Yes, if you want that, I think you'll have to change my code a bit (it should be trivial).

[2019-08-15 18:24] lioutasb opened #25 "L2 regularization on the box convolution parameters"
On the [paper](https://papers.nips.cc/paper/7859-deep-neural-networks-with-box-convolutions.pdf) you mention that you use L2 regularization on the box convolution parameters to shrink the box dimensions towards zero.

Where exactly on the code you do this regularization because I can't find it. You have `weight-decay` flag [here](https://github.com/shrubb/box-convolutions/blob/master/examples/City

[2019-08-15 19:27] shrubb commented on #25
Thanks for asking! `weight-decay` is applied [here](https://github.com/shrubb/box-convolutions/blob/ba233c35e73e0d0d9192dd834d267789081083ab/examples/Cityscapes/train.py#L103), though maybe in a slightly complicated manner. It's applied to **all** learnable parameters of the network, including box convolutions' ones; the paper doesn't say that *only* boxes are regularized.

[2019-08-15 19:35] lioutasb commented on #25
@shrubb Thank you for your quick response. I did a search with `weight-decay` instead of `weight_decay` that's why I couldn't find it lol.

I assumed you use regularization only on the box convolution since you didn't mention it on the "Performance" subsection. My bad.

Thank you again for this very interesting work.

[2019-08-15 19:35] #25 closed, assigned to nobody

[2019-11-06 14:04] etienne87 commented on #2
also a build error, 18.04, CUDA 10.1, Python 3.6.8, Torch 1.3, Driver is nvidia-driver-418

command launched: python3 setup.py build install

 https://drive.google.com/drive/folders/1zB66N6yKBpyud5h8GkY2vCBBVSWYGyIC
(looks like: src/box_convolution.cpp:19:5: note: in expansion of macro

‘AT_DISPATCH_FLOATING_TYPES_AND_HALF’
     AT_DISPATCH_FLOATING_TYPES_AND_HALF(x_min.type(), "cpu::splitParamete

[2019-11-06 18:44] shrubb commented on #2
@etienne87 I don't have permission for your Drive link, can you post the log on pastebin.com or gist.github.com, or change permissions?

[2019-11-06 21:19] etienne87 commented on #2
sry abt that it should be ok now

[2019-11-08 02:09] shrubb commented on #2
@etienne87 I think I fixed that, does it work now?

[2019-11-08 09:21] etienne87 commented on #2
it works! thanks @shrubb !

[2019-11-08 10:49] #2 closed, assigned to nobody

[2020-01-18 12:49] aptlin opened #26 "[Feature Request] Upgrading to PyTorch 1.4"
Hi @shrubb,

Do you have any plans to update the codebase for PyTorch 1.4 changes? If not, could you please hint at what your ideas are on how to go about this?

Installing with `torch==1.4.0` fails, unfortunately.

Thanks for your awesome work!

[2020-01-19 08:38] shrubb commented on #26
Hi, thank you, will do it, hopefully today.

[2020-01-20 06:53] shrubb commented on #26
Considering fixed. @sdll, could you please confirm that?

[2020-02-19 18:06] #26 closed, assigned to nobody

[2021-11-27 15:42] jiaozizhao opened #27 "BoxConv1D"
Hi, Great work. Thanks for sharing.

Could you give me some hints for modifying it to a boxconv1D, please?

[2021-11-28 11:25] shrubb commented on #27
Hi, thanks. Try hard-fixing `y_min` and `y_max` to 0 and 1 (or maybe 0 and 0...I don't remember the convention). This way all filters will be N × 1.

[2021-11-28 11:26] #27 closed, assigned to nobody